# Node artifacts
node_modules/
dist/

# Editor files
.idea/
.vscode/
*.iml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build info
*.tsbuildinfo

# Spring Boot build outputs
backend/target/

